<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Boost</title>
    <link rel="stylesheet" href="~/Assets/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img src="~/Assets/images/Bot1.png" width="50" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/graphql">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">Configuration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">Identity</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>@User.Identity.Name</div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/Assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
